#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: #fff3;
  margin: 16px;
}

.layout-sidebar {
  min-height: 100vh;
}

.layout-header {
  background: #fff;
  padding: 0;
}

.layout-content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  min-height: 280px;
}

.a-menu-item {
  display: flex;
  align-items: center;
}

.submit {
  align-items: center;
}
