.avatar-uploader > .ant-upload {
  width: 100%;
  height: 100%;
  min-height: 128px;
  margin-bottom: 0;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.image-url {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  display: inline-flex;
  align-items: center;

  width: 20px;
  height: 20px;
  margin-right: 8px;
}
